@import url('https://fonts.googleapis.com/css?family=New+Rocker&display=swap');
@import 'colors.scss';
body {
    background-color: $surface-color;
}

.heading-1 {
    color: $primary-color;
    font-family: 'New Rocker', cursive;
    font-size: 4.5rem;
    text-align: center;
}

.eventos__title {
    color: $primary-color;
    font-family: 'New Rocker', cursive;
    font-size: 3rem;
}

.evento-list {
    list-style: none;
    &__item-title {
        color: $primary-color;
        font-family: 'New Rocker', cursive;
        font-size: 1.5rem;
    }
}