@import url('https://fonts.googleapis.com/css?family=New+Rocker&display=swap');
@import 'colors.scss';
body {
    background-color: $surface-color;
}

.heading-1 {
    color: $primary-color;
    font-family: 'New Rocker', cursive;
    font-size: 5rem;
    text-align: center;
}